.image-container {
    z-index: 1000;
    width: 80%; /* Set a fixed width for the container */
    height: 100%; 
    right:-17px;/* Set a fixed height for the container */
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden; /* Ensure content doesn't overflow the container */
}

.hover-image {
    width: 80%; /* Adjust width as needed */
    height: 80%; /* Adjust height as needed */
    object-fit: cover;
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out; /* Smooth transition for opacity and scale */
    opacity: 1;
    transform: scale(1); 
}

.image-container:hover .hover-image{
    opacity: 0;
    transform: scale(0.95); 
}