/* Example using Press Start 2P */
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

/* Or for VT323 */
@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');


.tracker-container {
    display: flex;
    max-width: 1200px;
   
    margin-top: 100px;
    padding: 20px;
  }
  
  .graph-container {
    flex: 1; /* Takes up 1 part of the available space */
    padding-right: 20px; /* Space between graph and table */
  }
  
  .transactions-container {
    flex: 1; /* Takes up 1 part of the available space */
  }
  
  .buttons {
    margin: 20px 0;
  }
  
  button {
    padding: 10px 20px;
    margin: 0 10px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    transition: background-color 0.3s;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  .scrollable-table {
    max-height: 400px; /* Limit height for scrollable area */
    overflow-y: auto; /* Add vertical scroll */
  }
  .transaction-table {
    font-family: 'Press Start 2P', sans-serif;

    font-size: 12px;
    text-align: left;
    width: 100%;
    border-collapse: collapse;
}
.transaction-table th, .transaction-table td {
  padding: 8px 12px;
  border: 1px solid #ddd;
}

.transaction-table .buy-row td {
  background-color: #e0f7fa;
  font-size: 10px;
 
}

.transaction-table .sell-row td {
  background-color: #ffebee;
  font-size: 10px;

}
  
